<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    NIZAR ROBBANI
  </h1>
  <h3>1711016099</h3>
</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener">Praktikum 3</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener">Praktikum 4</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener">Praktikum 5</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener">Praktikum 6</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener">Praktikum 7</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener">Praktikum 8</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener">Praktikum 9</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener">Praktikum 10</a></h2>
  </li>
</ul>

